@charset "BIG5";
body{
  font-family: Microsoft JhengHei;
}
input[type="button"]{
  display: block;
  margin: 20px;
  padding: 10px 30px;
  font-size: 20px;
  color: white;
  background-color: #4ebeba;
  border: none;
  border-radius: 5px;
  
}
input[type="button"]:hover{
  cursor: pointer;
  transition: .5s;
  box-shadow: 0 0 5px 1px #fff;
}
