<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>TEA102G1</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>Booking_fixed_tableServlet</servlet-name>
		<servlet-class>com.booking_fixed_table.controller.Booking_Fixed_TableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Booking_fixed_tableServlet</servlet-name>
		<url-pattern>/booking_fixed_table/booking_fixed_table.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Rest_Seat_Coordinate_TableServlet</servlet-name>
		<servlet-class>com.rest_seat_coordinate.controller.Rest_Seat_Coordinate_TableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Rest_Seat_Coordinate_TableServlet</servlet-name>
		<url-pattern>/rest_seat_coordinate_table/rest_seat_coordinate_table.do</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Booking_Ing_TableServlet</servlet-name>
		<servlet-class>com.booking_ing_table.controller.Booking_Ing_TableServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Booking_Ing_TableServlet</servlet-name>
		<url-pattern>/booking_ing_table/booking_Ing_TableServlet.do</url-pattern>
	</servlet-mapping>


</web-app>